
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Formulario de Registro</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>


<div class="titulo animadoFijo"> 
        <h1>Detalle del usuario <%= user.nombre %> <%= user.apellido %></h1>
</div>
    
<section class="detalle-usuario">
    <section class="contenedor-usuario animadoFijo">
        <div class="contenedor-img-info">
             <div class="img-usuario">
                <img src="../../../img/users/<%= user.image ? user.image : 'default.jpg' %>" alt="">
             </div>
            <div class="info-usuario">
                <div class="contenedor-info-usuario">
                    <span class="negrita">Nombre: </span><span> <%= user.nombre %></span><br>
                    <span class="negrita">Apellido: </span><span><%= user.apellido %></span><br>
                    <span class="negrita">E-mail: </span><span>  <%= user.email %><span><br>
                    <span class="negrita">Edad: </span><span> <%= user.edad %></span><br>
                    <span class="negrita">Número de celular: </span><span> <%= user.cel %></span><br>
                    <span class="negrita">Número para participar de sorteos: </span><span> <%= user.id %></span>
                </div>
                <div class="enlaces-detalle-usuario">
                    <form class="tarjeta-link" action="/users/<%= user.id %>/edit" method="GET">
                        <button class="boton-detalle-usuario-borrar">Editar</button>
                    </form>
                    <form class="tarjeta-link" action="/users/<%= user.id %>?_method=delete" method="POST">
                        <button class="boton-detalle-usuario-borrar">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>