<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Listado de usuarios</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>

<section class="section-listado-usuarios">
    <div class="titulo">
       <h1>Listado de Usuarios</h1>
    </div>
    <div class="contenedor-tarjeta-usuario">
        <% users.forEach(user => { %>
        <div class="tarjeta-usuario">
            <div class="conenedor-foto-usuario">
                <div class="foto-usuario">
                    <img src="../../../img/users/<%= user.image ? user.image : 'default.jpg' %>" alt="">
                </div>
            </div>
            <div class="info-tarjeta">
              <div class="nombre-usuario">
                <h3><%= user.nombre %> <%= user.apellido %></h3>
              </div>
              <div class="contenedor-datos-usuario">
                <div class="dato-usuario">
                    <p>E-mail: <%= user.email %> </p>
                    <p>Celular: <%= user.cel %> </p>
                    <p>Edad: <%= user.edad %> </p>
                    <p># <%= user.id %> </p>
                </div>
              </div>
              <div class="contenedor-enlaces-usuario">
                <div class="enlaces-usuario">
                    <form class="tarjeta-link" action="/users/<%= user.id %>/edit" method="GET">
                        <button class="boton-borrar">Editar</button>
                    </form>
                    <form class="tarjeta-link" action="/users/<%= user.id %>?_method=delete" method="POST">
                        <button class="boton-borrar">Borrar</button>
                    </form>
                </div>
              </div>
            </div>
        </div>   
        <% }) %>
 
    </div>
</section>

    <%- include ("../partials/footer.ejs") %>
</body>
</html>